html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 50px; 
}

main
{
	flex : 1 0 auto;
}
#content
{
	height:90%;
}

.page-footer
{
	padding-top:5px !important;	
}
.carousel
{
	min-height:700px !important;
}
.GPshowAdvancedToolOpen
{
	background-color:white;
	border: 0px solide white;
}

#^GPshowSearchEngineOpen
{
	background-color:blue;	
}
.admin
{
	display:none;
}
#sidenav-overlay
{
	display:none;
}

.slideshow {
   	width: 700px;
   	height: 450px;
   	overflow: hidden;
   	border: 3px solid #F2F2F2;
}
.imgFront
{
    	/* 4 images donc 4 x 100% */
  	width: 700px;
   	height: 400px;
}

.controls
{
   	text-align:center;
	margin-top:0px;
}
.addDateLigne
{
	display:none;
}
#btnNavDate
{
	display : flex;
	align-items:center;
}
.dateFront-save-cancel, dateLigne
{
	display:inline;
	margin-bottom:10px;
}
#dateFront-save-button
{
	display:inline;
	margin-bottom:10px;
}
#mapid
{
	width: 100%; 
	height: 600px;
}
#fermeCommande
{
	background-color:red;
	width:15px; 
	padding-left:2px; 
	border-radius:5px; 
	margin:0px; 
	float:right;
}
#fermeCommande a
{
	 color:yellow;
}
#btnCommande
{
	position: absolute; 
	top: 150px; 
	left: 0px; 
	z-index: 600; 
	background-color: azure; 
	padding : 0px; 
	margin: 20px; 
	border-radius: 5px; 
	width:270px; 
	display:none;
}

#Front-action
{
	display:none;
}
#defFront
{
	display : none;
	background-color: azure;
}
#choixLigne, #confirmation, #addFront
{
	position:absolute; 
	top:100px;
	left:45%; 
	display: none; 
	z-index:700; 
	background-color:white;
	text-align:center;
}
@media screen and (max-width: 800px)
{
	#btnCommande
	{
		position: relative;
		top: 0px; 
		left: 0px; 
		margin-top:10px;
		margin-left:10px;
	}
}