.carousel
{
	min-height:700px !important;
}
.GPshowAdvancedToolOpen
{
	background-color:white;
	border: 0px solide white;
}

#^GPshowSearchEngineOpen
{
	background-color:blue;	
}
.admin
{
	display:none;
}
#sidenav-overlay
{
	display:none;
}

.slideshow {
   	width: 700px;
   	height: 450px;
   	overflow: hidden;
   	border: 3px solid #F2F2F2;
}

.slideshow ul {
    	/* 4 images donc 4 x 100% */
  	 width: 500%;
   	height: 450px;
  	padding:0; margin:0;
   	list-style: none;
}
.controls
{
   	text-align:center;
	margin-top:0px;
}